#navbar{
    display:flex;
    justify-content: flex-end;
    border: 2px solid white;
    padding:10px 0px 10px 0px;
    background-color: rgb(26, 33, 70);
}
#navbar div{
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 800;
}
#navbar a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}